@mixin box-shadow($shadow1, $shadow2:false, $shadow3:false, $shadow4:false, $shadow5:false) {
 $params: $shadow1;
  @if $shadow2
    { $params: $shadow1, $shadow2; }
    @if $shadow3 != false
      { $params: $shadow1, $shadow2, $shadow3; }
      @if $shadow4 != false
        { $params: $shadow1, $shadow2, $shadow3, $shadow4; }
        @if $shadow5 != false
          { $params: $shadow1, $shadow2, $shadow3, $shadow4, $shadow5; }

  -webkit-box-shadow: $params;
     -moz-box-shadow: $params;
          box-shadow: $params;
}

@mixin transition($transition1, $transition2:false, $transition3:false, $transition4:false, $transition5:false) {
 $params: $transition1;
  @if $transition2
    { $params: $transition1, $transition2; }
    @if $transition3 != false
      { $params: $transition1, $transition2, $transition3; }
      @if $transition4 != false
        { $params: $transition1, $transition2, $transition3, $transition4; }
        @if $transition5 != false
          { $params: $transition1, $transition2, $transition3, $transition4, $transition5; }

  -webkit-transition: $params;
  -moz-transition: $params;
  -o-transition: $params;
  transition: $params;
}

@mixin transform($transform1, $transform2:false, $transform3:false, $transform4:false, $transform5:false) {
 $params: $transform1;
  @if $transform2
    { $params: $transform1, $transform2; }
    @if $transform3 != false
      { $params: $transform1, $transform2, $transform3; }
      @if $transform4 != false
        { $params: $transform1, $transform2, $transform3, $transform4; }
        @if $transform5 != false
          { $params: $transform1, $transform2, $transform3, $transform4, $transform5; }

  -webkit-transform: $params;
  -moz-transform: $params;
  -o-transform: $params;
  transform: $params;
}

@mixin transform-origin($transform-origin1, $transform-origin2:false, $transform-origin3:false, $transform-origin4:false, $transform-origin5:false) {
 $params: $transform-origin1;
  @if $transform-origin2
    { $params: $transform-origin1, $transform-origin2; }
    @if $transform-origin3 != false
      { $params: $transform-origin1, $transform-origin2, $transform-origin3; }
      @if $transform-origin4 != false
        { $params: $transform-origin1, $transform-origin2, $transform-origin3, $transform-origin4; }
        @if $transform-origin5 != false
          { $params: $transform-origin1, $transform-origin2, $transform-origin3, $transform-origin4, $transform-origin5; }

  -webkit-transform-origin: $params;
  -moz-transform-origin: $params;
  -o-transform-origin: $params;
  transform-origin: $params;
}

@mixin disable-select() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
