$black: #000000;
$white: #FFFFFF;
$transparent: rgba(0,0,0,0);

$primary100: #BBDEFB;
$primary300: #64B5F6;
$primary500: #2196F3;
$primary700: #1976D2;
$primary900: #0D47A1;

$grey100: #F5F5F5;
$grey300: #E0E0E0;
$grey400: #BDBDBD;
$grey500: #9E9E9E;
$grey600: #757575;
$grey700: #616161;
$grey800: #424242;
$grey900: #212121;

// For light backgrounds (dark text)
$darkTextPrimary: rgba(0,0,0,.87);
$darkTextSecondary: rgba(0,0,0,.54);
$darkTextDisabled: rgba(0,0,0,.38);
$darkDivider: rgba(0,0,0,.22);
$darkDividerSecondary: rgba(0,0,0,.12);

// For dark backgrounds (light text)
$lightTextPrimary: rgba(255,255,255, 1);
$lightTextSecondary: rgba(255,255,255,.70);
$lightTextDisabled: rgba(255,255,255,.30);
$lightDivider: rgba(255,255,255,.12);

$boxShadow: rgba(0,0,0,.75);


// Dimensions
$headerHeight: 40px;

$gridGap: 12px;

$titleHeight: 60px;
$yAxisWidth: 70px;
$xAxisHeight: 72px;

$legendSize: 28px;
