html {
  width: 100%;
  height: 100%;
  color: rgba(0, 0, 0, 0.87);
  font-family: "Rajdhani", "Trebuchet MS", sans-serif; }

body {
  width: 100%;
  height: 100%;
  min-width: 960px;
  margin: 0; }

#wrapper {
  width: 100%;
  height: 100%; }

.row {
  float: left;
  width: 100%; }

#main-container {
  width: 100%;
  height: calc(100% - 100px);
  min-height: 800px; }

#main-container-row {
  height: 100%; }

#header {
  position: fixed;
  top: 0;
  height: 40px;
  z-index: 1;
  line-height: 40px;
  font-size: 24px;
  color: white;
  background-color: #212121; }

#header-logo {
  float: left;
  margin-left: 12px; }

#graph-row {
  height: calc(100% - 40px - 40px);
  margin-top: 40px;
  padding-top: 20px; }

#graph-container {
  float: left;
  width: calc(80% - 24px);
  height: 100%; }

#graph {
  position: relative;
  width: 90%;
  height: 100%;
  margin: 0 auto 0 auto;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

#graph-title-container {
  position: absolute;
  left: 70px;
  height: 60px;
  width: calc(100% - 70px); }

#graph-title {
  float: left;
  width: calc(100% - 316px);
  height: 100%;
  padding-left: 120px;
  line-height: 60px;
  font-size: 28px;
  text-align: center;
  cursor: default; }

.axis-title {
  position: absolute;
  line-height: 32px;
  font-size: 24px;
  text-align: center;
  cursor: default; }

.label {
  cursor: default; }

#graph-y-axis {
  position: absolute;
  top: 60px;
  width: 70px;
  height: calc(100% - 72px - 60px); }
  #graph-y-axis .axis-title {
    left: 0;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top; }
  #graph-y-axis .label {
    height: calc(100% / 5);
    padding-right: 10px;
    line-height: 20px;
    font-size: 20px;
    text-align: right; }
  #graph-y-axis .label.first {
    margin-top: -10px; }
  #graph-y-axis .label.last {
    height: 0px; }

#graph-x-axis {
  position: absolute;
  top: calc(100% - 72px);
  left: 70px;
  width: calc(100% - 70px);
  height: 72px; }
  #graph-x-axis .axis-title {
    width: 100%;
    top: calc(100% - 32px); }
  #graph-x-axis .label {
    float: left;
    width: calc(100% / 6);
    margin-top: 8px;
    line-height: 32px;
    font-size: 20px;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.38); }
  #graph-x-axis .divider {
    float: left;
    width: 1px;
    height: 16px;
    margin-top: 8px;
    margin-left: -1px;
    background-color: rgba(0, 0, 0, 0.38); }

#graph-corner {
  position: absolute;
  top: calc(100% - 72px);
  width: 70px;
  height: 72px; }

#graph-area {
  position: absolute;
  top: 60px;
  left: 70px;
  width: calc(100% - 70px);
  height: calc(100% - 72px - 60px); }
  #graph-area .graph-bar {
    float: left;
    width: calc(100% / 6);
    height: 100%; }
  #graph-area .graph-bar-section {
    position: relative;
    -webkit-transition: height 333ms;
    -moz-transition: height 333ms;
    -o-transition: height 333ms;
    transition: height 333ms; }
  #graph-area .graph-bar-section-inner {
    position: absolute;
    top: 5px;
    left: 9px;
    width: calc(100% - 18px);
    height: calc(100% - 10px);
    border: 3px solid;
    border-radius: 2px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: box-shadow 333ms, opacity 333ms, background-color 333ms, border-color 333ms;
    -moz-transition: box-shadow 333ms, opacity 333ms, background-color 333ms, border-color 333ms;
    -o-transition: box-shadow 333ms, opacity 333ms, background-color 333ms, border-color 333ms;
    transition: box-shadow 333ms, opacity 333ms, background-color 333ms, border-color 333ms;
    cursor: pointer;
    opacity: .8; }
  #graph-area .graph-bar-section-inner.focused {
    opacity: 1; }
  #graph-area .graph-bar-section-inner-shadow {
    width: 100%;
    height: 100%;
    margin: -3px 0 0 -3px;
    border: 3px solid rgba(0, 0, 0, 0);
    -webkit-transition: box-shadow 333ms;
    -moz-transition: box-shadow 333ms;
    -o-transition: box-shadow 333ms;
    transition: box-shadow 333ms; }
  #graph-area .graph-bar-section-inner-shadow.focused:hover {
    -webkit-box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.75); }
  #graph-area .graph-bar-section-inner-shadow.focused:active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  #graph-area .graph-bar-section-inner.locked {
    background-color: #fff !important; }
  #graph-area .graph-bar-section-inner-shadow.locked:hover {
    -webkit-box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.75), inset 0 0 2px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.75), inset 0 0 2px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.75), inset 0 0 2px 0px rgba(0, 0, 0, 0.75); }
  #graph-area .graph-bar-section-inner-shadow.locked:active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

#patch-switch {
  float: right;
  width: 196px;
  height: 40px;
  margin-top: 12px;
  line-height: 40px;
  font-size: 28px;
  -webkit-box-shadow: inset 0 0 6px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0 0 6px -2px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 0 6px -2px rgba(0, 0, 0, 0.75);
  cursor: pointer; }
  #patch-switch #patch-switch-fill {
    left: 50%;
    -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.75); }

#legend-container {
  float: left;
  width: calc(20% + 24px);
  height: 100%; }
  #legend-container #legend {
    float: left;
    width: 100%;
    height: calc(100% - 40px - 60px - 40px);
    overflow-x: auto; }
    #legend-container #legend #legend-title {
      float: left;
      width: 90%;
      margin-left: 3px;
      line-height: 28px;
      font-size: calc(28px - 8px);
      text-align: left; }
    #legend-container #legend .legend-section {
      float: left;
      width: 90%;
      height: 28px;
      margin: 8px 0 0 3px;
      cursor: pointer;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-transition: box-shadow 333ms, opacity 333ms;
      -moz-transition: box-shadow 333ms, opacity 333ms;
      -o-transition: box-shadow 333ms, opacity 333ms;
      transition: box-shadow 333ms, opacity 333ms; }
      #legend-container #legend .legend-section .legend-section-image {
        float: left;
        width: 28px;
        height: 100%;
        background-size: cover;
        background-color: #e0e0e0; }
      #legend-container #legend .legend-section .legend-section-text {
        float: left;
        width: calc(100% - 28px - 12px);
        height: calc(100% - 6px);
        padding: 0 3px;
        line-height: calc(28px - 6px);
        font-size: calc(28px - 12px);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        border: solid 3px white;
        -webkit-transition: color 333ms, background-color 333ms, border-color 333ms;
        -moz-transition: color 333ms, background-color 333ms, border-color 333ms;
        -o-transition: color 333ms, background-color 333ms, border-color 333ms;
        transition: color 333ms, background-color 333ms, border-color 333ms; }
    #legend-container #legend .legend-section:hover {
      -webkit-box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.75); }
    #legend-container #legend .legend-section:active {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }

#champion-select-container {
  width: 90%;
  margin-top: calc(40px + 20px);
  height: 48px;
  padding-top: 12px; }

#footer {
  width: 100%;
  height: 100px;
  background-color: #212121; }

.data-switch {
  position: relative;
  color: white;
  text-align: center;
  background-color: #bdbdbd;
  border-radius: 2px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .data-switch .data-switch-first {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%; }
  .data-switch .data-switch-second {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%; }
  .data-switch .data-switch-fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #757575;
    border-radius: 2px;
    -webkit-transition: left 333ms;
    -moz-transition: left 333ms;
    -o-transition: left 333ms;
    transition: left 333ms; }

.tooltip {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 108px;
  height: 28px;
  z-index: 1;
  border-radius: 2px;
  background-color: #bdbdbd;
  overflow: hidden;
  -webkit-box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.75);
  -webkit-transition: box-shadow 333ms, background-color 333ms;
  -moz-transition: box-shadow 333ms, background-color 333ms;
  -o-transition: box-shadow 333ms, background-color 333ms;
  transition: box-shadow 333ms, background-color 333ms; }
  .tooltip .tooltip-image {
    float: left;
    width: 28px;
    height: 28px;
    background-size: cover;
    background-color: #e0e0e0; }
  .tooltip .tooltip-text {
    float: left;
    width: 50px;
    margin-left: 2px;
    color: white;
    line-height: 28px;
    font-size: 16px;
    text-align: center; }
  .tooltip .tooltip-lock {
    float: left;
    width: 28px;
    color: white;
    line-height: 28px;
    font-size: 16px;
    text-align: center; }

.tooltip:hover {
  background-color: #757575; }

.tooltip:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }
