///// Imports /////
@import 'variables';
@import 'mixins';

///// Content /////
html {
  color: $darkTextPrimary;
  font-family: "Rajdhani", "Trebuchet MS", sans-serif;
}

body {
  min-width: 600px;

  margin: 0;
}

.row {
  width: 100%;

}

.container {

}

#main-container {

}

///// Header /////
#header {
  position: fixed;
  top: 0;
  height: $headerHeight;

  line-height: $headerHeight;
  font-size: 24px;

  color: $lightTextPrimary;
  background-color: $grey900;
}

#header-logo {
  float: left;
  margin-left: $gridGap;
}

///// Graph Row /////
#row-graph {
  height: 600px;
  margin-top: $headerHeight;
  padding-top: $headerHeight;
}

#container-graph {
  float: left;
  width: 100%;
  height: 100%;
}

#graph {
  position: relative;
  width: 80%;
  height: 100%;
  margin: 0 auto 0 auto;

  @include disable-select();
}

#graph-title {
    position: absolute;
    left: $yAxisWidth;
    width: calc(100% - #{$yAxisWidth});
    height: $titleHeight;

    line-height: $titleHeight;
    font-size: 28px;
    text-align: center;

    cursor: default;
}

.axis-title {
  position: absolute;

  line-height: 32px;
  font-size: 24px;
  text-align: center;
}

#graph-y-axis {
  position: absolute;
  top: $titleHeight;
  width: $yAxisWidth;
  height: calc(100% - #{$xAxisHeight} - #{$titleHeight});

  .axis-title {
    left: 0;

    @include transform(rotate(-90deg));
    @include transform-origin(left top);
  }

  .label {
    height: calc(100% / 5);
    padding-right: 10px;

    line-height: 20px;
    font-size: 20px;
    text-align: right;
  }
  .label.first {
    margin-top: -10px;
  }
  .label.last {
    height: 0px;
  }
}

#graph-x-axis {
  position: absolute;
  top: calc(100% - #{$xAxisHeight});
  left: $yAxisWidth;
  width: calc(100% - #{$yAxisWidth});
  height: $xAxisHeight;

  .axis-title {
    width: 100%;

    top: calc(100% - 24px);
  }

  .label {
    float: left;
    width: calc(100% / 6);
    margin-top: 8px;

    line-height: 32px;
    font-size: 20px;
    text-align: center;

    border-top: 1px solid $darkDivider;
  }

  .divider {
    float: left;
    width: 1px;
    height: 16px;

    margin-top: 8px;
    margin-left: -1px;
    background-color: $darkDivider;
  }
}

#graph-corner {
  position: absolute;
  top: calc(100% - #{$xAxisHeight});
  width: $yAxisWidth;
  height: $xAxisHeight;
}

#graph-area {
  position: absolute;
  top: #{$titleHeight};
  left: $yAxisWidth;
  width: calc(100% - #{$yAxisWidth});
  height: calc(100% - #{$xAxisHeight} - #{$titleHeight});

  .graph-bar {
    float: left;
    width: calc(100% / 6);
    height: 100%;
  }

  .graph-bar-section {
    position: relative;
    @include transition(height, 333ms);
  }

  .graph-bar-section-inner {
    position: absolute;
    top: 2px;
    left: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 4px);

    @include box-shadow(0 0 5px -1px $boxShadow);
    cursor: pointer;
  }
}

///// Info Row /////
#row-info {
  min-height: 400px;
}

#container-info {
  float: left;
  width: 100%;
  height: 100%;
}

#info {
  position: relative;
  width: 80%;
  height: 100%;
  margin: 0 auto 0 auto;
}

#patch-switch {
  width: 196px;
  height: 40px;
  margin-left: $yAxisWidth;
  margin-top: 12px;

  line-height: 40px;
  font-size: 28px;

  @include box-shadow(inset 0 0 6px -2px $boxShadow);
  cursor: pointer;

  #patch-switch-first {
  }
  #patch-switch-second {
  }
  #patch-switch-fill {
    @include box-shadow(0 0 3px 1px $boxShadow);
  }
}



///// Champions Row /////
#row-champions {

}

///// Footer /////
#footer {

}

///// Other /////
.axis-title {
  cursor: default;
}

.label {
  cursor: default;
}



.data-switch {
  position: relative;

  color: $lightTextPrimary;
  text-align: center;

  background-color: $darkTextDisabled;

  @include disable-select();

  .data-switch-first {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
  }

  .data-switch-second {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
  }

  .data-switch-fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;

    background-color: $primary500;

    @include transition(left 333ms);

  }
}
