///// Imports /////
@import 'variables';
@import 'mixins';

///// Content /////
html {
  color: $darkTextPrimary;
  font-family: "Rajdhani", "Trebuchet MS", sans-serif;
}

body {
  min-width: 600px;

  margin: 0;
}

.row {
  width: 100%;

}

.container {

}

#main-container {

}

///// Header /////
#header {
  position: fixed;
  top: 0;
  height: $headerHeight;
  z-index: 1;

  line-height: $headerHeight;
  font-size: 24px;

  color: $lightTextPrimary;
  background-color: $grey900;
}

#header-logo {
  float: left;
  margin-left: $gridGap;
}

///// Graph Row /////
#row-graph {
  height: 600px;
  margin-top: $headerHeight;
  padding-top: $headerHeight;
}

#container-graph {
  float: left;
  width: 100%;
  height: 100%;
}

#graph {
  position: relative;
  width: 80%;
  height: 100%;
  margin: 0 auto 0 auto;

  @include disable-select();
}

#graph-title {
    position: absolute;
    left: $yAxisWidth;
    width: calc(100% - #{$yAxisWidth});
    height: $titleHeight;

    line-height: $titleHeight;
    font-size: 28px;
    text-align: center;

    cursor: default;
}

.axis-title {
  position: absolute;

  line-height: 32px;
  font-size: 24px;
  text-align: center;

  cursor: default;
}

.label {
  cursor: default;
}

#graph-y-axis {
  position: absolute;
  top: $titleHeight;
  width: $yAxisWidth;
  height: calc(100% - #{$xAxisHeight} - #{$titleHeight});

  .axis-title {
    left: 0;

    @include transform(rotate(-90deg));
    @include transform-origin(left top);
  }

  .label {
    height: calc(100% / 5);
    padding-right: 10px;

    line-height: 20px;
    font-size: 20px;
    text-align: right;
  }
  .label.first {
    margin-top: -10px;
  }
  .label.last {
    height: 0px;
  }
}

#graph-x-axis {
  position: absolute;
  top: calc(100% - #{$xAxisHeight});
  left: $yAxisWidth;
  width: calc(100% - #{$yAxisWidth});
  height: $xAxisHeight;

  .axis-title {
    width: 100%;
    top: calc(100% - 32px);
  }

  .label {
    float: left;
    width: calc(100% / 6);
    margin-top: 8px;

    line-height: 32px;
    font-size: 20px;
    text-align: center;

    border-top: 1px solid $darkTextDisabled;
  }

  .divider {
    float: left;
    width: 1px;
    height: 16px;

    margin-top: 8px;
    margin-left: -1px;
    background-color: $darkTextDisabled;
  }
}

#graph-corner {
  position: absolute;
  top: calc(100% - #{$xAxisHeight});
  width: $yAxisWidth;
  height: $xAxisHeight;
}

#graph-area {
  position: absolute;
  top: #{$titleHeight};
  left: $yAxisWidth;
  width: calc(100% - #{$yAxisWidth});
  height: calc(100% - #{$xAxisHeight} - #{$titleHeight});

  .graph-bar {
    float: left;
    width: calc(100% / 6);
    height: 100%;
  }

  .graph-bar-section {
    position: relative;
    @include transition(height 333ms);
  }

  .graph-bar-section-inner {
    position: absolute;
    top: 5px;
    left: 9px;
    width: calc(100% - 18px);
    height: calc(100% - 10px);

    border: 3px solid;

    border-radius: 2px;
    @include box-shadow(none);
    @include transition(box-shadow 333ms, opacity 333ms, background-color 333ms, border-color 333ms);
    cursor: pointer;
    opacity: .75;

  }

  .graph-bar-section-inner.focused {
    opacity: 1;
  }

  .graph-bar-section-inner.focused:hover {
    @include box-shadow(0 0 4px 0px $boxShadow);
  }

  .graph-bar-section-inner.focused:active {
    @include box-shadow(none);
  }

  .graph-bar-section-inner.locked {
    background-color: #fff !important;
  }

  .graph-bar-section-inner.locked:hover {
    @include box-shadow(0 0 4px 0px $boxShadow, inset 0 0 4px 0px $boxShadow);
  }

  .graph-bar-section-inner.locked:active {
    @include box-shadow(none);
  }
}

///// Info Row /////
#row-info {
}

#container-info {
  float: left;
  width: 100%;
  height: 100%;
}

#info {
  position: relative;
  width: 80%;
  height: 100%;
  margin: 12px auto 0 auto;

  border-top: solid 1px $darkDivider;
}

#patch-switch {
  float: right;
  width: 196px;
  height: 40px;
  margin-top: 12px;

  line-height: 40px;
  font-size: 28px;

  @include box-shadow(inset 0 0 6px -2px $boxShadow);
  cursor: pointer;

  #patch-switch-first {
  }
  #patch-switch-second {
  }
  #patch-switch-fill {
    left: 50%;
    @include box-shadow(0 0 2px 1px $boxShadow);
  }
}

#legend {
  float: left;
  width: calc(100% - 200px - #{$yAxisWidth});
  //min-width: calc(.8 * 600px - #{$yAxisWidth});
  margin-top: 4px;
  margin-left: $yAxisWidth;

  #legend-title {
    float: left;
    width: $yAxisWidth;
    margin-top: 4px;
    margin-left: -$yAxisWidth;

    line-height: $legendSize;
    font-size: calc(#{$legendSize} - 8px);
    text-align: center;
  }

  .legend-section {
    float: left;
    width: calc(15% + 100px);
    min-width: 200px;
    height: $legendSize;
    margin-top: 8px;
    margin-left: 6px;

    cursor: pointer;
    @include disable-select();
    @include transition(box-shadow 333ms, opacity 333ms);

    .legend-section-swatch {
      float: left;
      width: calc(#{$legendSize} / 2);
      height: 100%;

      margin-right: 6px;
    }
    .legend-section-image {
      float: left;
      width: $legendSize;
      height: 100%;

    	background-size: cover;
      background-color: $grey800;
    }
    .legend-section-text {
      float: left;
      width: calc(100% - 2 * #{$legendSize} / 2 - 12px); // subtract image, swatch, swatch margin, padding, border (swatch currently excluded)
      height: calc(100% - 6px); // subtract border
      padding: 0 3px;

      line-height: calc(#{$legendSize} - 6px); // subtract border
      font-size: calc(#{$legendSize} - 12px);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      border: solid 3px $white;

      @include transition(color 333ms, background-color 333ms, border-color 333ms);
    }

    .legend-section-text.locked {
    }
  }

  .legend-section:hover {
    @include box-shadow(0 0 3px 0px $boxShadow);
  }

  .legend-section:active {
    @include box-shadow(none);
  }
}

///// Champions Row /////
#row-champions {

}

///// Footer /////
#footer {

}

///// Other /////
.data-switch {
  position: relative;

  color: $lightTextPrimary;
  text-align: center;

  background-color: $grey400;
  border-radius: 2px;
  @include disable-select();

  .data-switch-first {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
  }

  .data-switch-second {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
  }

  .data-switch-fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;

    background-color: $grey600;
    border-radius: 2px;

    @include transition(left 333ms);

  }
}

// @-webkit-keyframes barSectionPulse {
//   0%    { opacity: 1 }
//   50%   { opacity: .75 }
//   100%  { opacity: 1 }
// }
// @-moz-keyframes barSectionPulse {
//   0%    { opacity: 1 }
//   50%   { opacity: .75 }
//   100%  { opacity: 1 }
// }
// @-o-keyframes barSectionPulse {
//   0%    { opacity: 1 }
//   50%   { opacity: .75 }
//   100%  { opacity: 1 }
// }
// @keyframes barSectionPulse {
//   0%    { opacity: 1 }
//   50%   { opacity: .75 }
//   100%  { opacity: 1 }
// }
