<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <script src="../javascripts/jquery.min.js"></script>
    <script src="../3rdParty/ejs_production.js"></script>
    <script src="../3rdParty/lodash.min.js"></script>
    <script src="../javascripts/main.js"></script>
    <script src="../javascripts/globals.js"></script>
    <script src="../3rdParty/selectize/selectize.js"></script>
    <script src="../3rdParty/selectize/utils.js"></script>
    <script src="../3rdParty/selectize/plugins/remove_button.js"></script>
    <link href="../3rdParty/selectize/selectize.default.css" rel="stylesheet" type="text/css">
    <link href="../3rdParty/selectize/plugins/remove_button.css" rel="stylesheet" type="text/css">
    <link href="../stylesheets/output.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Rajdhani:400,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  </head>

<body>
  <div id="wrapper">

    <!-- Header -->
    <div id="header" class="row">
      <div id="header-logo">
        <%= title %>
      </div>
  	</div>

    <!-- Main Content -->
    <div id="main-container" class="container">
      <div id="main-container-row" class="row">
        <div id="graph-container" class="container">
          <!-- Graph Row -->
      		<div id="graph-row" class="row">
              <div id="graph">
                <div id="graph-title-container">
                  <div id="graph-title">
                    Build Order Trends
                  </div>
                  <div id="patch-switch" class="data-switch" data-position="second">
                    <div id="patch-switch-fill" class="data-switch-fill"></div>
                    <div id="patch-switch-first" class="data-switch-first">5.11</div>
                    <div id="patch-switch-second" class="data-switch-second">5.14</div>
                  </div>
                </div>
                <div id="graph-y-axis">
                  <div class="axis-title">Popularity</div>
                  <div class="label first">100</div>
                  <div class="label">80</div>
                  <div class="label">60</div>
                  <div class="label">40</div>
                  <div class="label">20</div>
                  <div class="label last">0</div>
                </div>
                <div id="graph-x-axis">
                  <div class="axis-title">Position</div>
                  <div class="divider"></div>
                  <div class="label">1st</div>
                  <div class="divider"></div>
                  <div class="label">2nd</div>
                  <div class="divider"></div>
                  <div class="label">3rd</div>
                  <div class="divider"></div>
                  <div class="label">4th</div>
                  <div class="divider"></div>
                  <div class="label">5th</div>
                  <div class="divider"></div>
                  <div class="label">6th</div>
                  <div class="divider"></div>
                </div>
                <div id="graph-corner">
                </div>
                <div id="graph-area">
                  <div id="graph-background">
                  </div>
                  <div id="bar-0" class="graph-bar">
                    <div class="graph-bar-section Other">
                      <div class="graph-bar-section-inner">
                        <div class="graph-bar-section-inner-shadow">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="bar-1" class="graph-bar">
                    <div class="graph-bar-section Other">
                      <div class="graph-bar-section-inner">
                        <div class="graph-bar-section-inner-shadow">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="bar-2" class="graph-bar">
                    <div class="graph-bar-section Other">
                      <div class="graph-bar-section-inner">
                        <div class="graph-bar-section-inner-shadow">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="bar-3" class="graph-bar">
                    <div class="graph-bar-section Other">
                      <div class="graph-bar-section-inner">
                        <div class="graph-bar-section-inner-shadow">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="bar-4" class="graph-bar">
                    <div class="graph-bar-section Other">
                      <div class="graph-bar-section-inner">
                        <div class="graph-bar-section-inner-shadow">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="bar-5" class="graph-bar">
                    <div class="graph-bar-section Other">
                      <div class="graph-bar-section-inner">
                        <div class="graph-bar-section-inner-shadow">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="legend-container" class="container">
            <div id="champion-select-container">
              <select id="champion-select">
                <option value=""></option>
              </select>
            </div>
            <div id="legend">
              <div id="legend-title">
                Items
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div id='analysis-ctrl'>
        <div id='btn-analysis' class='btn'>Show analysis</div>
      </div>

      <div id="analysis" class="row" style='display:none'>
        <h2>Analysis: </h2>
        <div id="win-rate">
          <h3>Win rate</h3>
          <div id="win-rate-text">
            Lock an item to see win rates (Hint: Click the tooltip that appears when you hover over the graph).
          </div>
        </div>
        <div id="patch-diff">
          <h3>Largest changes between 5.11 and 5.14 for each position</h3>
            <div id="patch-diff-area">
              <div id="diff-0" class="diff-bar"></div>
              <div id="diff-1" class="diff-bar"></div>
              <div id="diff-2" class="diff-bar"></div>
              <div id="diff-3" class="diff-bar"></div>
              <div id="diff-4" class="diff-bar"></div>
              <div id="diff-5" class="diff-bar"></div>
            </div>
        </div>
      </div>

      <!-- Footer -->
      <div id="footer" class="row">
        <div>
          Built by <a href='https://github.com/evanwang22'>evanwang22</a> and <a href='https://github.com/ardama'>ardama</a>
        </div>
        <br/>
        <div>
          BuildTrends isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. 
        </div>
        <div>
          League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.
        </div>
      </div>
    </div>
  </div>
</body>
