<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <script src="../javascripts/jquery.min.js"></script>
    <script src="../javascripts/main.js"></script>
    <script src="../javascripts/globals.js"></script>
    <script src="../3rdParty/selectize/selectize.js"></script>
    <script src="../3rdParty/selectize/utils.js"></script>
    <script src="../3rdParty/selectize/plugins/remove_button.js"></script>
    <script src="../3rdParty/lodash.min.js"></script>
    <link href="../3rdParty/selectize/selectize.default.css" rel="stylesheet" type="text/css">
    <link href="../3rdParty/selectize/plugins/remove_button.css" rel="stylesheet" type="text/css">
    <link href="../stylesheets/output.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Rajdhani:400,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  </head>

<body>
  <div id="wrapper">

    <!-- Header -->
    <div id="header" class="row">
      <div id="header-logo">
  		    Riot Challenge
      </div>
  	</div>

    <!-- Main Content -->
    <div id="main-container" class="container">
      <div id="main-container-row" class="row">
        <div id="graph-container" class="container">
          <!-- Graph Row -->
      		<div id="graph-row" class="row">
              <div id="graph">
                <div id="graph-title-container">
                  <div id="graph-title">
                    Build Order Trends
                  </div>
                  <div id="patch-switch" class="data-switch" data-position="second">
                    <div id="patch-switch-fill" class="data-switch-fill"></div>
                    <div id="patch-switch-first" class="data-switch-first">5.11</div>
                    <div id="patch-switch-second" class="data-switch-second">5.14</div>
                  </div>
                </div>
                <div id="graph-y-axis">
                  <div class="axis-title">Popularity</div>
                  <div class="label first">100</div>
                  <div class="label">80</div>
                  <div class="label">60</div>
                  <div class="label">40</div>
                  <div class="label">20</div>
                  <div class="label last">0</div>
                </div>
                <div id="graph-x-axis">
                  <div class="axis-title">Position</div>
                  <div class="divider"></div>
                  <div class="label">1st</div>
                  <div class="divider"></div>
                  <div class="label">2nd</div>
                  <div class="divider"></div>
                  <div class="label">3rd</div>
                  <div class="divider"></div>
                  <div class="label">4th</div>
                  <div class="divider"></div>
                  <div class="label">5th</div>
                  <div class="divider"></div>
                  <div class="label">6th</div>
                  <div class="divider"></div>
                </div>
                <div id="graph-corner">
                </div>
                <div id="graph-area">
                  <div id="graph-background">
                  </div>
                  <div id="bar-0" class="graph-bar">
                    <div class="graph-bar-section Other">
                      <div class="graph-bar-section-inner">
                        <div class="graph-bar-section-inner-shadow">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="bar-1" class="graph-bar">
                    <div class="graph-bar-section Other">
                      <div class="graph-bar-section-inner">
                        <div class="graph-bar-section-inner-shadow">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="bar-2" class="graph-bar">
                    <div class="graph-bar-section Other">
                      <div class="graph-bar-section-inner">
                        <div class="graph-bar-section-inner-shadow">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="bar-3" class="graph-bar">
                    <div class="graph-bar-section Other">
                      <div class="graph-bar-section-inner">
                        <div class="graph-bar-section-inner-shadow">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="bar-4" class="graph-bar">
                    <div class="graph-bar-section Other">
                      <div class="graph-bar-section-inner">
                        <div class="graph-bar-section-inner-shadow">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="bar-5" class="graph-bar">
                    <div class="graph-bar-section Other">
                      <div class="graph-bar-section-inner">
                        <div class="graph-bar-section-inner-shadow">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="legend-container" class="container">
            <div id="champion-select-container">
              <select id="champion-select">
                <option value=""></option>
                <option value="">None</option>
              </select>
            </div>
            <div id="legend">
              <div id="legend-title">
                Items
              </div>
            </div>
          </div>
        </div>
      </div>






      <!-- Footer -->
      <div id="footer" class="row">
    	</div>
    </div>
  </div>
</body>
